.dashboard {
  .table-part {
    margin: 20px auto;
  }

  table:not(.mat-table) {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    .left {
      text-align: left;
    }

    td, th :not(.no-border){
      padding: 3px 6px;
      border: 1px solid #dddddd;
    }

    .transact-color {
      background-color: #82bbd1;
      color: white;
      font-weight: normal;
      padding: 0px 30px;
    }

    .register-color {
      background-color: #5cc871;
      color: white;
      font-weight: normal;
      padding: 0px 30px;
    }

    .complete-transaction-color {
      background-color: #fcebed;
    }
  }

  table.mat-table {
    width: 100%;

    th.mat-sort-header-sorted {
      color: black;
    }
  }

  mat-card {
    margin: 10px 0;
  }
}