#login {
  margin: 15px auto;
  min-width: 200px;
  max-width: 400px;
  border: 1px solid #f7f7f9;
  border-radius: 3px;
  text-align: center;
  background-color: #f8f9fa;

  .example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }
}

.block-user {
  position: absolute;
  right: 3%;
  top: 21px;
}

.login-btn {
  position: relative;
  top: -6px;
  left: 6px;
}

a.mat-button.menue {
  margin-right: 10px;
}