body {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.hive-clearfix {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.disabled {
  opacity: 0.3;
}

.white-link {
  color: white;
  text-decoration: none;

  &.logo {
    margin-right: 20px;
  }

  img.logo {
    background-color: white;
  }
}

.clearfix {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}