/* You can add global styles to this file, and also import other style files */

/* MATERIAL */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Modules styles */
@import "~angular-notifier/styles";

/* You can add global styles to this file, and also import other style files */
@import 'main';
@import 'login';
@import 'dashboard';
html, body { height: 100%; }
body {
  /*margin: 0; */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
