<div id="login">
  <div>
    <mat-toolbar>{{'LOGIN' | translate}}</mat-toolbar>
  </div>

  <form class="login_box" method="POST" [formGroup]="form" class="" (ngSubmit)="login()" novalidate>
   <div class="example-container">
     <mat-form-field>
      <mat-label>{{'EMAIL_ADRESS' | translate}}</mat-label>
      <input matInput placeholder="email@example.com" type="email" id="email" name="email" formControlName="email">
      <mat-error *ngIf="form.controls.email.invalid">{{getErrorMessage() | translate}}</mat-error>
     </mat-form-field>

     <mat-form-field>
      <input matInput placeholder="{{'PASSWORD' | translate}}" type="password" id="password" name="password" formControlName="password">
      <mat-error *ngIf="form.controls.password.invalid">{{'NEED_A_VALUE' | translate}}</mat-error>
     </mat-form-field>

     <div class="hive-clearfix"></div>
    <button mat-button type="submit" class="mat-button mat-button-base" [class.disabled]="disabled || !form.valid" [disabled]="disabled || !form.valid">{{'OK' | translate}}</button>
    <div class="hive-clearfix"></div>
   </div>

  </form>
</div>