<div class="dashboard">
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a class="white-link logo" routerLink="/">
          <img class="logo" src="assets/logo/hivexchange-logo.png" width="174" height="40">
        </a>

        <a mat-button class="mat-button menue" routerLink="/dashboard">
          <span class="mat-button-wrapper">{{'DASHBOARD' | translate}}</span>
          <div matripple="" class="mat-button-ripple mat-ripple"></div>
          <div class="mat-button-focus-overlay"></div>
        </a>

        <a mat-button class="mat-button menue" routerLink="/dashboard/users">
          <span class="mat-button-wrapper">{{'USERS' | translate}}</span>
          <div matripple="" class="mat-button-ripple mat-ripple"></div>
          <div class="mat-button-focus-overlay"></div>
        </a>

        <a mat-button class="mat-button menue" routerLink="/dashboard/offers">
          <span class="mat-button-wrapper">{{'OFFERS' | translate}}</span>
          <div matripple="" class="mat-button-ripple mat-ripple"></div>
          <div class="mat-button-focus-overlay"></div>
        </a>

        <a mat-button class="mat-button menue" routerLink="/dashboard/orders">
          <span class="mat-button-wrapper">{{'ORDERS' | translate}}</span>
          <div matripple="" class="mat-button-ripple mat-ripple"></div>
          <div class="mat-button-focus-overlay"></div>
        </a>

        <div class="block-user">
          <img src="assets/icons/user.png" width="20" height="20">
          <a mat-button class="mat-button login-btn" [matMenuTriggerFor]="menu">
            Maxi
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="logout()">{{'LOGOUT' | translate}}</button>
            </mat-menu>
          </a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <div class="clearfix"></div>

  <!-- <div class="table-part">
    <table>
      <tr>
        <th colspan="2" scope="col"></th>
        <th scope="col">{{'PREVIOUS_MONTH' | translate}}</th>
        <th scope="col">{{'PREVIOUS_WEEK' | translate}}</th>
        <th scope="col">{{'CURRENT_MONTH' | translate}}</th>
        <th scope="col">{{'CURRENT_WEEK' | translate}}</th>
      </tr>
      <tr>
        <th class="register-color" scope="row">{{'REGISTER' | translate}}</th>
        <td class="left">
          {{'NEW_USER' | translate}}
        </td>
        <td>
          {{users.lastMonth ? users.lastMonth.length : 0}}
        </td>
        <td>
          {{users.lastWeek ? users.lastWeek.length : 0}}
        </td>
        <td>
          {{users.thisMonth ? users.thisMonth.length : 0}}
        </td>
        <td>
          {{users.thisWeek ? users.thisWeek.length : 0}}
        </td>
      </tr>
      <tr>
        <th class="transact-color" rowspan="2">{{'TRANSACT' | translate}}</th>
        <td class="left">{{'NEW_OFFERS' | translate}}</td>
        <td>{{offers.lastMonth ? offers.lastMonth.offers.length : 0}}</td>
        <td>{{offers.thisWeek ? offers.thisWeek.offers.length : 0}}</td>
        <td>{{offers.thisMonth ? offers.thisMonth.offers.length : 0}}</td>
        <td>{{offers.thisWeek ? offers.thisWeek.offers.length : 0}}</td>
      </tr>
      <tr class="complete-transaction-color">
        <td class="left"><b>{{'COMPLETED_TRANSACTIONS' | translate}}</b></td>
        <td>
          {{'TOTAL' | translate}} : {{orders.lastMonth && orders.lastMonth.total? orders.lastMonth.total : 0}}
          <br>
          {{'COUNT' | translate}} : {{orders.lastMonth && orders.lastMonth.count? orders.lastMonth.count : 0}}
          <br>
          {{'PENDING' | translate}} : {{orders.lastMonth && orders.lastMonth.pending? orders.lastMonth.pending : 0}}
          <br>
          {{'PLATFORM_PROFIT' | translate}} : {{orders.lastMonth && orders.lastMonth.platformProfit? orders.lastMonth.platformProfit : 0}}
          <br>
          {{'BROKER_PROFIT' | translate}} : {{orders.lastMonth && orders.lastMonth.brokerProfit? orders.lastMonth.brokerProfit : 0}}
        </td>
        <td>
          {{'TOTAL' | translate}} : {{orders.lastWeek && orders.lastWeek.total? orders.lastWeek.total : 0}}
          <br>
          {{'COUNT' | translate}} : {{orders.lastWeek && orders.lastWeek.count? orders.lastWeek.count : 0}}
          <br>
          {{'PENDING' | translate}} : {{orders.lastWeek && orders.lastWeek.pending? orders.lastWeek.pending : 0}}
          <br>
          {{'PLATFORM_PROFIT' | translate}} : {{orders.lastWeek && orders.lastWeek.platformProfit? orders.lastWeek.platformProfit : 0}}
          <br>
          {{'BROKER_PROFIT' | translate}} : {{orders.lastWeek && orders.lastWeek.brokerProfit? orders.lastWeek.brokerProfit : 0}}
        </td>
        <td>
          {{'TOTAL' | translate}} : {{orders.thisMonth && orders.thisMonth.total? orders.thisMonth.total : 0}}
          <br>
          {{'COUNT' | translate}} : {{orders.thisMonth && orders.thisMonth.count? orders.thisMonth.count : 0}}
          <br>
          {{'PENDING' | translate}} : {{orders.thisMonth && orders.thisMonth.pending? orders.thisMonth.pending : 0}}
          <br>
          {{'PLATFORM_PROFIT' | translate}} : {{orders.thisMonth && orders.thisMonth.platformProfit? orders.thisMonth.platformProfit : 0}}
          <br>
          {{'BROKER_PROFIT' | translate}} : {{orders.thisMonth && orders.thisMonth.brokerProfit? orders.thisMonth.brokerProfit : 0}}
        </td>
        <td>
          {{'TOTAL' | translate}} : {{orders.thisWeek && orders.thisWeek.total? orders.thisWeek.total : 0}}
          <br>
          {{'COUNT' | translate}} : {{orders.thisWeek && orders.thisWeek.count? orders.thisWeek.count : 0}}
          <br>
          {{'PENDING' | translate}} : {{orders.thisWeek && orders.thisWeek.pending? orders.thisWeek.pending : 0}}
          <br>
          {{'PLATFORM_PROFIT' | translate}} : {{orders.thisWeek && orders.thisWeek.platformProfit? orders.thisWeek.platformProfit : 0}}
          <br>
          {{'BROKER_PROFIT' | translate}} : {{orders.thisWeek && orders.thisWeek.brokerProfit? orders.thisWeek.brokerProfit : 0}}
        </td>
      </tr>
    </table> -->


  <!-- </div> -->
  <router-outlet></router-outlet>
</div>