<mat-card>{{TYPE | translate}}</mat-card>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="thisMonth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'CURRENT_MONTH' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.thisMonth && !element.thisMonth.total">
          {{element.thisMonth.length}}
        </span>
        <span *ngIf="element.thisMonth && !element.thisMonth.length">
          {{'TOTAL' | translate}} : {{element.thisMonth.total ? element.thisMonth.total : 0}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastMonth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PREVIOUS_MONTH' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.lastMonth && !element.lastMonth.total">
          {{element.lastMonth.length}}
        </span>
        <span *ngIf="element.lastMonth && !element.lastMonth.length">
          {{'TOTAL' | translate}} : {{element.lastMonth.total ? element.lastMonth.total : 0}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="thisWeek">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'CURRENT_WEEK' | translate}} </th>
      <td mat-cell *matCellDef="let element" >
        <span *ngIf="element.thisWeek && !element.thisWeek.total">
          {{element.thisWeek.length}}
        </span>
        <span *ngIf="element.thisWeek && !element.thisWeek.length">
          {{'TOTAL' | translate}} : {{element.thisWeek.total ? element.thisWeek.total : 0}}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastWeek">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'PREVIOUS_WEEK' | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.lastWeek && !element.lastWeek.total">
          {{element.lastWeek.length}}
        </span>
        <span *ngIf="element.lastWeek && !element.lastWeek.length">
          {{'TOTAL' | translate}} : {{element.lastWeek.total ? element.lastWeek.total : 0}}
        </span>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let detail">
        <div *ngIf="detail.element.thisMonth && !detail.element.thisMonth.total && detail.element.thisMonth.length">
          <div class="lastMonth">
            {{'CURRENT_MONTH' | translate}} :
            <ul>
              <li *ngFor="let u of detail.element.thisMonth">
              {{'EMAIL' | translate}} : {{u.email}} - {{'CREATED' | translate}} : {{u.userCreated}}
            </li>
            </ul>

            <div class="clearfix"></div>
            {{'PREVIOUS_MONTH' | translate}} :
            <ul>
              <li *ngFor="let u of detail.element.lastMonth">
              {{'EMAIL' | translate}} : {{u.email}} - {{'CREATED' | translate}} : {{u.userCreated}}
            </li>
            </ul>

            <div class="clearfix"></div>
            {{'CURRENT_WEEK' | translate}} :
            <ul>
              <li *ngFor="let u of detail.element.thisWeek">
              {{'EMAIL' | translate}} : {{u.email}} - {{'CREATED' | translate}} : {{u.userCreated}}
            </li>
            </ul>

            <div class="clearfix"></div>
            {{'PREVIOUS_WEEK' | translate}} :
            <ul>
              <li *ngFor="let u of detail.element.lastWeek">
              {{'EMAIL' | translate}} : {{u.email}} - {{'CREATED' | translate}} : {{u.userCreated}}
            </li>
            </ul>
          </div>
        </div>

        <div *ngIf="detail.element.thisMonth && !detail.element.thisMonth.length">
          <div class="lastMonth">
            {{'CURRENT_MONTH' | translate}} :
            <div>
              {{'TOTAL' | translate}} : {{detail.element.thisMonth.total ? detail.element.thisMonth.total : 0}}
              {{'COUNT' | translate}} : {{detail.element.thisMonth.count ? detail.element.thisMonth.count : 0}}
              {{'PENDING' | translate}} : {{detail.element.thisMonth.pending ? detail.element.thisMonth.pending : 0}}
              {{'PLATFORM_PROFIT' | translate}} : {{detail.element.thisMonth.platformProfit ? detail.element.thisMonth.platformProfit : 0}}
              {{'BROKER_PROFIT' | translate}} : {{detail.element.thisMonth.brokerProfit ? detail.element.thisMonth.brokerProfit : 0}}
            </div>

            <div class="clearfix"></div>
            {{'PREVIOUS_MONTH' | translate}} :
            <div>
              {{'TOTAL' | translate}} : {{detail.element.lastMonth.total ? detail.element.lastMonth.total : 0}}
              {{'COUNT' | translate}} : {{detail.element.lastMonth.count ? detail.element.lastMonth.count : 0}}
              {{'PENDING' | translate}} : {{detail.element.lastMonth.pending ? detail.element.lastMonth.pending : 0}}
              {{'PLATFORM_PROFIT' | translate}} : {{detail.element.lastMonth.platformProfit ? detail.element.lastMonth.platformProfit : 0}}
              {{'BROKER_PROFIT' | translate}} : {{detail.element.lastMonth.brokerProfit ? detail.element.lastMonth.brokerProfit : 0}}
            </div>

            <div class="clearfix"></div>
            {{'CURRENT_WEEK' | translate}} :
            <div>
              {{'TOTAL' | translate}} : {{detail.element.thisWeek.total ? detail.element.thisWeek.total : 0}}
              {{'COUNT' | translate}} : {{detail.element.thisWeek.count ? detail.element.thisWeek.count : 0}}
              {{'PENDING' | translate}} : {{detail.element.thisWeek.pending ? detail.element.thisWeek.pending : 0}}
              {{'PLATFORM_PROFIT' | translate}} : {{detail.element.thisWeek.platformProfit ? detail.element.thisWeek.platformProfit : 0}}
              {{'BROKER_PROFIT' | translate}} : {{detail.element.thisWeek.brokerProfit ? detail.element.thisWeek.brokerProfit : 0}}
            </div>

            <div class="clearfix"></div>
            {{'PREVIOUS_WEEK' | translate}} :
            <div>
              {{'TOTAL' | translate}} : {{detail.element.lastWeek.total ? detail.element.lastWeek.total : 0}}
              {{'COUNT' | translate}} : {{detail.element.lastWeek.count ? detail.element.lastWeek.count : 0}}
              {{'PENDING' | translate}} : {{detail.element.lastWeek.pending ? detail.element.lastWeek.pending : 0}}
              {{'PLATFORM_PROFIT' | translate}} : {{detail.element.lastWeek.platformProfit ? detail.element.lastWeek.platformProfit : 0}}
              {{'BROKER_PROFIT' | translate}} : {{detail.element.lastWeek.brokerProfit ? detail.element.lastWeek.brokerProfit : 0}}
            </div>
          </div>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      matRipple
      class="element-row"
      [class.expanded]="expandedElement == row"
      (click)="expandedElement = row">
    </tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
      [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
      style="overflow: hidden">
    </tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>